.education {
  display: inline-block;
  font-size: 15px;
}

body::first-line {
  font-weight: bold;
}
#year {
  width: 10%;
  display: inline-block;
}

body .education {
  width: 90%;
  display: inline-block;
}
